# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~
.Rproj.user/FE1EC5E4/sources/s-B6E5A17F/E8478ED5-contents
.Rproj.user/FE1EC5E4/sources/s-B6E5A17F/E8478ED5

# ignore
public/
content/post/2020-09-06-all-you-need-to-know-when-using-r-on-a-copenhagen-univeristy-pc.md
content/post/2020-09-06-enrichment-analysis-in-5-mins-with-r-enrichr.html
content/post/2020-09-06-enrichment-analysis-in-5-mins-with-r-enrichr.Rmd
content/post/2020-09-06-teaching-introduction-to-nutritional-metabolomics.html
content/post/2020-09-06-teaching-introduction-to-nutritional-metabolomics.Rmd